:org.apache.felix.configadmin.revision:=L"4"
alias="agtcontroller"
enabled=B"true"
ess.id="ess0"
ess.target="(&(enabled\=true)(!(service.pid\=Controller.Symmetric.Balancing.45eb47b1-dac2-400f-8071-f12526e0a643))(|(id\=ess0)))"
id="ctrlBalancing0"
meter.id="meter0"
meter.target="(&(enabled\=true)(!(service.pid\=Controller.Symmetric.Balancing.45eb47b1-dac2-400f-8071-f12526e0a643))(|(id\=meter0)))"
service.factoryPid="Controller.Symmetric.Balancing"
service.pid="Controller.Symmetric.Balancing.45eb47b1-dac2-400f-8071-f12526e0a643"
targetGridSetpoint=I"0"
