:org.apache.felix.configadmin.revision:=L"8"
alias=""
datasource.id="datasource_pv"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.ProductionMeter.Acting.ebaf92d6-14f3-40ef-b244-35dde2854941))(|(id\=datasource_pv)))"
enabled=B"true"
id="meter1"
service.factoryPid="Simulator.ProductionMeter.Acting"
service.pid="Simulator.ProductionMeter.Acting.ebaf92d6-14f3-40ef-b244-35dde2854941"
