:org.apache.felix.configadmin.revision:=L"10"
alias=""
enabled=B"true"
factor=F"1148846080"
format="GERMAN_EXCEL"
id="datasource_pure"
service.factoryPid="Simulator.Datasource.CSV.Predefined"
service.pid="Simulator.Datasource.CSV.Predefined.11c35774-1d92-4e06-9f3e-7b728d4f1971"
source="PURE_LOAD"
timeDelta=I"-1"
