:org.apache.felix.configadmin.revision:=L"2"
alias=""
enabled=B"true"
factor=F"-1082130432"
format="GERMAN_EXCEL"
id="datasource2"
service.factoryPid="Simulator.Datasource.CSV.Predefined"
service.pid="Simulator.Datasource.CSV.Predefined.11c35774-1d92-4e06-9f3e-7b728d4f1971"
source="H0_HOUSEHOLD_SUMMER_WEEKDAY_NON_REGULATED_CONSUMPTION"
timeDelta=I"-1"
