:org.apache.felix.configadmin.revision:=L"8"
alias=""
enabled=B"true"
factor=F"1161527296"
format="GERMAN_EXCEL"
id="datasource_minigrid"
service.factoryPid="Simulator.Datasource.CSV.Predefined"
service.pid="Simulator.Datasource.CSV.Predefined.7bdcf65c-1fc2-45c8-83ba-3dcb452cb086"
source="MINI_GRID_LOAD"
timeDelta=I"-1"
