:org.apache.felix.configadmin.revision:=L"6"
alias=""
enabled=B"true"
factor=F"1073741824"
format="GERMAN_EXCEL"
id="datasource0"
service.factoryPid="Simulator.Datasource.CSV.Predefined"
service.pid="Simulator.Datasource.CSV.Predefined.d5826bf0-b632-4cca-aeee-3bb37481649b"
source="H0_HOUSEHOLD_SUMMER_WEEKDAY_PV_PRODUCTION"
timeDelta=I"-1"
