:org.apache.felix.configadmin.revision:=L"11"
alias=""
enabled=B"true"
factor=F"1161527296"
format="GERMAN_EXCEL"
id="datasource_pv"
service.factoryPid="Simulator.Datasource.CSV.Predefined"
service.pid="Simulator.Datasource.CSV.Predefined.d5826bf0-b632-4cca-aeee-3bb37481649b"
source="PV_PROD_METER_ACTING"
timeDelta=I"-1"
