:org.apache.felix.configadmin.revision:=L"2"
alias=""
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.GridMeter.Acting.2ae191a4-9c1d-465f-bd30-c966ed5bc18f))(|(id\=datasource0)))"
enabled=B"true"
id="meter0"
needFrequencyStepResponse=B"false"
service.factoryPid="Simulator.GridMeter.Acting"
service.pid="Simulator.GridMeter.Acting.2ae191a4-9c1d-465f-bd30-c966ed5bc18f"
startTime="2024-01-29\ 20:12:00"
