:org.apache.felix.configadmin.revision:=L"11"
_lastChangeAt="2025-06-05T10:31:58"
_lastChangeBy="admin:\ Admin"
alias="PURE"
automaticForceOnCtrlEnabled=B"true"
automaticForceOnSoc=I"50"
automaticForceOnSurplusPower=I"2000"
automaticLockCtrlEnabled=B"false"
automaticLockGridBuyPower=I"5000"
automaticLockSoc=I"20"
automaticRecommendationCtrlEnabled=B"false"
automaticRecommendationSurplusPower=I"1000"
debugMode=B"true"
enabled=B"true"
id="ctrlIoHeatPump0"
manualState="REGULAR"
minimumSwitchingTime=I"60"
mode="AUTOMATIC"
outputChannel1="io0/InputOutput0"
outputChannel2="io0/InputOutput1"
service.factoryPid="Controller.Io.HeatPump.SgReady"
service.pid="Controller.Io.HeatPump.SgReady.96f1bebe-a6ca-4f3d-8e8b-107f722c7f53"
