:org.apache.felix.configadmin.revision:=L"1"
alias=""
capacity=I"10000"
enabled=B"true"
gridMode="ON_GRID"
id="ess0"
initialSoc=I"50"
maxApparentPower=I"10000"
service.factoryPid="Simulator.EssSymmetric.Reacting"
service.pid="Simulator.EssSymmetric.Reacting.9ebb2004-4108-4a9c-a103-99e21d18ae7f"
