:org.apache.felix.configadmin.revision:=L"10"
alias="PURE-Meter"
datasource.id="datasource_pure"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.RCMeter.Acting.06c50327-9ead-4a29-965e-aef9c47965c1))(|(id\=datasource_pure)))"
enabled=B"true"
id="meter3"
io.channel.id="InputOutput1"
io.component.id="io0"
service.factoryPid="Simulator.RCMeter.Acting"
service.pid="Simulator.RCMeter.Acting.06c50327-9ead-4a29-965e-aef9c47965c1"
