:org.apache.felix.configadmin.revision:=L"7"
alias=""
datasource.id="datasource_minigrid"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.3df31e7d-a94c-4aaf-84d5-bf0f626a32e9))(|(id\=datasource_minigrid)))"
enabled=B"true"
id="meter2"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.3df31e7d-a94c-4aaf-84d5-bf0f626a32e9"
